:root{
    --book-bg-color: #023e8a;
    --book-font-color: #fff;
    --book-border-color:#a8dadc;
}
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

html{
    min-height: 100%;
}

body{
    font-size: 18px;
    margin: 0;
    background-color: #14213d;
    font-family:'Roboto','Gill Sans', 'Gill Sans MT',sans-serif;
}

.main-container{
    display: grid;
    width: 100%;
    justify-items: center;
    margin-top: 1.5rem;
    gap: 3rem;
}

#book_btn{
    width: 5rem;
    height: 2.5rem;
    border: 2px solid #03045e;
    border-radius: 5px;
}

.header>p{
    font-size: 3rem;
    color: var(--book-font-color);
}

.header>p>a{
    font-size: 3rem;
    color: #90e0ef;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.book-stats{
    display: flex;
    border: 4px solid #1d3557;
    border-radius: 5px;
}

.book-stats>p{
    color: var(--book-font-color);
    background-color: var(--book-bg-color);
    border: 2px solid var(--book-border-color);
    padding: 0.5rem;
    text-align: center;
}

.book-stats>p>span{
    color: #8ecae6;
    font-weight: 700;
}

.book-stats>p:nth-child(2){
    border-right: 3px solid #1d3557;
    border-left: 3px solid #1d3557;
}

.books{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    row-gap: 2rem;
    width: 100%;
    padding: 0 3rem 0 3rem;
}

.book{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--book-font-color);
    background-color: var(--book-bg-color);
    width: 260px;
    height: 35vh;
    border: 5px solid var(--book-border-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.book>p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.popup{
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 350px;
    max-width: 100%;
    height: 400px;
    max-height: 100%;
    border: 1px solid rebeccapurple;
    background-color: #219ebc;
    padding: 1em 2em 0 2em;
    border: 5px solid #1F2041;
    border-radius: 10%;
    z-index: 300;
}

form{
    width: 100%;
    height: 100%;
}

fieldset{
    height: 70%;
    border: none;
    display: flex;
    flex-direction: column;
}
.form-inputs{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input{
    outline: none !important;
    height: 4vh;
    border: 2px solid #1F2041;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

legend{
    font-size: 2rem;
}

.form-inputs>p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3rem;
    gap: 4px;
}

select:focus,select:hover{
    color: #f1faee;
    background-color: #457b9d;
}

option{
    font-weight: 600;
}

select,.remove{
    width: 40%;
    outline: none !important;
    text-align: center;
    border: 2px solid #16425B;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 600;
}

.remove:hover{
    background-color: #457b9d;
    color: #f1faee;
}
#addFormbtn,#exitbtn{
    font-size: 1rem;
    font-weight: 700;
    width: 8em;
    height: 3em;
    border: 2px solid #03045e;
    border-radius: 5px;
    margin-top: 1.5rem;
}

#addFormbtn{
    position:relative;
}

#addFormbtn:hover,#exitbtn:hover{
    background-color: var(--book-bg-color);
    color: var(--book-font-color);
}
#exitbtn{
    position:absolute;
    bottom: 40px;
    right: 30px;
}

.popup-overlay{
    display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(217, 220, 214,0.7);
  z-index: 200;
}

.popup.opened,.popup-overlay.opened{
    display: block;
}

#book_btn{
    background-color: #4B88A2;
    font-size: 1.5rem;
}

#book_btn:hover{
    color: var(--book-font-color);
    background-color: #16425B;
}